<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mou.mvvmmodule">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--写入权限-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!--读取权限-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--访问有关WIFI网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--访问有关WIFI网络信息-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--访问有关手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--定位权限-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--允许录制音视频-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--适配8.0安装app-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--Android 13版本适配，细化存储权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!--Android 11 使用相机-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:networkSecurityConfig"
        tools:targetApi="m">
        <activity
            android:name=".ui.main.views.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.views.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.views.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />


        <!-- 适配7.0获取uri路径 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--支持全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <!--项目Application运行的初始化文件-->
        <meta-data
            android:name="com.core.commonsdk.core.GlobalConfiguration"
            android:value="ConfigModule" />

        <!-- 告知 XXPermissions 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

    </application>

</manifest>